@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.title-text{
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 3.5em;
    margin-bottom: 30px;
}

:root{
    --dark: #161920;
    --grey: #686c74;
    --turq: #8ddad3;
}


/* Hero Section*/
#hero{
    height: 90vh;
    background: #1f232c;
    
}

#clip{
    background: var(--dark);
    clip-path: polygon(0 0, 0% 100%, 50% 100%);
    height: 90vh;
}

.box{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 20%;
}

.hero-img img{
    width: 42%;
    height: 270px;
    object-fit: cover;
    position: relative;
    left: 45%;
}

.hero-text{
    position: absolute;
    top: 25%;
    left: 19%;
    font-size: 4.3em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #5a9c96;
}

.box a{
    background: transparent;
    outline: none;
    padding: 10px 30px;
    border: 2px solid var(--turq);
    color: var(--grey);
    position: absolute;
    top: 80%;
    left: 25%;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.box a:hover{
    background: var(--turq);
    color: var(--dark);
}


/* Navbar Section */
.navbar{
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index:90;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 8%;
    z-index: 90;
}

.navbar li{
    text-decoration: none;
    color: var(--grey);
    margin-left: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    list-style: none;
}

.navbar li:hover{
    color:var(--turq);
}


/* About me Section */
.about{
    width: 80%;
    margin: 50px auto;
}

.about p{
    width: 90%;
}

.about img{
    object-fit: cover;
    object-position: 60% 40%;
    
}


/* Skills Section */
.skills{
    margin-top: 50px;;
}
.skills ul{
    margin-left: -52px;
}

.skills li{
    list-style: none;
    margin-left: 20px;
    border-bottom: 1px solid var(--turq);
    display: inline-block;
}


/* Projects Section */
.projects{
    width: 80%;
    margin: 100px auto 80px;
}

.project-box{
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--turq);
}

.project-name{
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--dark);
    display: inline-block;
    width: 350px;
    margin-bottom: 30px;
}

.project-text{
    margin-bottom: 30px;
}

.project-img{
    width: 350px;
    object-fit:cover;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.events-images{
    text-align: center;
}

.project-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
}

.project-links a{
    color:var(--dark);
    width: 120px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--dark);
    margin-right: 50px
}

.project-links a:hover{
    background-color: var(--turq);
    color:var(--dark);
}

.weather-links a{
    height: 35px;
    margin-top: 40px;
}

.django img{
    width: 340px;
}

.pers-project-name{
    margin-bottom: 0px;
}

.pers-links{
    margin-top: 20px;
}

.projects-end{
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 2px;
    display:inline-block;
}

.projects-end a{
    text-decoration: none;
    color:var(--dark);
}

.projects-end:hover a{
    border-bottom: 1px solid var(--dark);
    color:var(--dark);
}


/* Education Section */
.education{
    width: 80%;
    margin: 0 auto;
}

.education li{
    margin-bottom: 30px;
}

.education a{
    text-decoration: none;
    color: var(--turq);
    font-size: 1.8em;
    font-weight: 500;
    margin-left: 21px;
}

.education a:hover{
    color: var(--dark);
}


/* Footer Section */
footer{
    width: 80%;
    margin: 80px auto 50px;
}

.contacts h3{
    font-size: 1.3em;
    font-weight: 200;
}

footer a{
    color: var(--black);
    border-bottom: 1px solid var(--dark);
    text-decoration: none;
} 

footer a:hover{
    color: var(--grey);
    border-bottom: none;
}

footer .button{
    padding: 10px 30px;
    border: 2px solid var(--turq);
    color: var(--dark);
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
}

footer .button:hover{
    background: var(--turq);
    color: var(--dark);
}

footer i{
    font-size: 3.5em;
    position:absolute;
    right: 10%;
    color: var(--turq);
    cursor: pointer;
    transition: all .5s ease;
}

footer i:hover{
    color: var(--grey);
}


/* Viewports */
@media screen and (max-width: 760px){
    #hero{
        height: 60vh;
    }

    #clip{
        height: 60vh;
    }

    .hero-text{
        white-space: initial;
    }

    .hero-img img{
        display: none;
    }
    .box a{
        top: 80% !important;
        left: 12% !important;
    }

    .about img{
        display: none;
    }

    .project-name{
        width: auto;
    }

    .django img{
        width: 280px
    }

    footer i{
        display: none !important;
    }
}


@media screen and (max-width: 768px){
    .about p{
        font-size: .9em;
    }

    .project-img{
        width: 250px
    }

    .project-links{
        margin-bottom: 40px;
    }

    .events-images{
        text-align: left;
    }
}


@media screen and (max-width: 1024px){
    /* Hero Section */
    #hero{
        height: 50vh;
    }

    #clip{
        height: 50vh;
    }

    .box{
        top: 14%;
    }

    .hero-img img{
        height: 200px;
    }

    .hero-text{
        top: 10%;
        left: 10%;
        font-size: clamp(3.4em, 7vw, 7em);
    }

    .box a{
        top: 40%;
        left: 18%;
    }

    /* Navbar Mobile/Tablet */
    body.active{
        overflow: hidden;
    }

    .navbar{
        position: static !important;
    }

    .navbar-toogle{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 99;
    }
    .bar{
        width: 35px;
        height: 3.5px;
        background: var(--turq);
        display: block;
        margin: 8px;
        cursor: pointer;
        transition: all .5s ease;
    }

    .navbar-toogle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg)
    }

    .navbar-toogle.active .bar:nth-child(2){
        transform: translateX(-30px);
        opacity: 0;
    }

    .navbar-toogle.active .bar:nth-child(3){
        transform: translateY(-15px) rotate(-45deg)
    }

    .nav-links{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--dark);
        width: 100%;
        height: 100vh;
        position:absolute;
        top: -1500px;
        opacity: 1;
        transition: 1s ease;
    }
    .nav-links.active{
        top: 0;
        opacity: 1;
        transition: 1s ease;
    }
    .navbar li{
        margin-left: 0;
    }

    /* About Section */
    .about img{
        height: 500px;
    }

}


@media screen and (min-width: 1300px){
    .hero-img img{
        min-height: 400px;
    }
    .hero-text{
        font-size: clamp(3em, 6vw, 8em);
    }
}


